@import url("https://fonts.googleapis.com/css?family=Sawarabi+Mincho");
*{
  margin: 0;
}
html{
  margin:0;
  padding:0;
  overflow-x: hidden;
  max-width:100%;
  width:100%;
  font-family:serif;
}
body{
  margin:0;
  padding:0;
  overflow-x: hidden;
  max-width:100%;
  width:100%;
}


/* LOAD */

.load{
  background-color: #3991C8;
  text-align: center;
  width:100%;
  height:100vh;
  position: relative;
  position: fixed;
  top:0;
  z-index:1000;
}

.container {
  position: absolute;
  top:50%;
  left:50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  max-width: 1000px;
  margin: auto;
  display: flex;
  padding: 0 20px;
  justify-content: space-around;
}

.block {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  width: 45px;
  display: flex;
  flex-wrap: wrap;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  margin: auto;
  animation-name: loading;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
.circle:nth-child(1) {
  animation-delay: 0.2s;
}
.circle:nth-child(2) {
  animation-delay: 0.3s;
}
.circle:nth-child(3) {
  animation-delay: 0.4s;
}
.circle:nth-child(4) {
  animation-delay: 0.1s;
}
.circle:nth-child(5) {
  animation-delay: 0.2s;
}
.circle:nth-child(6) {
  animation-delay: 0.3s;
}
.circle:nth-child(7) {
  animation-delay: 0s;
}
.circle:nth-child(8) {
  animation-delay: 0.1s;
}
.circle:nth-child(9) {
  animation-delay: 0.2s;
}

@keyframes loading {
  20% {
    transform: scale(0.1);
  }
  40% {
    transform: scale(1);
  }
}

/* MENU */
header{
  width:100%;
  max-width: 100%;
  height:10vh;
  text-align: right;
  display: flex;
  align-items: center;
}
header img{
  height: 50px;
  width: 50px;
  margin-left: 20px;
}
header h1{
  margin:0 auto 0 0;
  font-family: 'Sawarabi Mincho', sans-serif;
  color: #565656;
  letter-spacing: 2px;
  font-weight: 100;
}
header a{
  margin-right: 50px;
  padding:20px 30px;
  transition: 1s;
  text-decoration: none;
  color: #565656;
}
header a:hover{
  background: #ffffff;
  box-shadow: 5px 5px 15px #cccccc, -5px -5px 15px #ffffff;
}


#btn-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 78px;
  height: 70px;
  padding: 0 20px;
  color: #fff;
  background: linear-gradient(145deg, #1e39ff, #1930da);
  z-index: 5000;
  transition: all .2s ease-in;
  position: fixed;
}

#btn-menu span {
  display: block;
  width: 100%;
  height: 5px;
  background: #fff;
}

#btn-menu span:nth-of-type(1) {
  margin: 5px 0 0;
}

#btn-menu span:nth-of-type(2) {
  margin: 8px 0 0;
}

#btn-menu span:nth-of-type(3) {
  margin: 8px 0 5px;
}

#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.65);
  overflow: scroll;
  z-index: 4000;
  transition: all .3s ease-in;
  visibility: hidden;
  opacity: 0.8;
}

.open-menu #sp-menu {
  visibility: visible;
  opacity: 4000;
}

#sp-menu-position {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sp-menu-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0;
}
.sp-menu-list li {
  margin: 30px;
  text-align: center;
}

.sp-menu-list a {
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: normal;
  font-weight: 100;
  color: #565656;
  text-align: center;
  padding: 20px 60px;
  background: linear-gradient(145deg, #1e39ff, #1930da);
  color: white;
  box-shadow: 5px 5px 15px #cccccc, -5px -5px 15px #ffffff;
}

/* topwrapper */
.top-wrapper{
  height:90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(pic/back.png);
  background-position: center;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 50% 100%, 0 90%);
}
.top-wrapper h1, .top-wrapper h2{
  color:white;
  background-color:#302f2f;
  opacity: 0.8;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family:serif;
}
.top-wrapper h1{
  font-size: 70px;
  letter-spacing: 10px;
  padding-top: 200px;
}
.top-wrapper h1 span,.top-wrapper h2 span{
  color:#3991C8;
}
.top-wrapper h2{
  position: relative;
}

.top-wrapper a{
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-decoration: none;
  position: absolute;
  bottom:0px;
  color:white;
  font-weight: 100;
}
.top-wrapper a{
  padding-top: 60px;
}
.top-wrapper a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
.top-wrapper a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.top-wrapper a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(255,255,255,.1);
  border-radius: 100%;
  opacity: 0;
  -webkit-animation: arrow 3s infinite;
  animation: arrow 3s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* second-wrapper */
.second-wrapper{
  width: 90%;
  margin: 50px 5% 50px 5%;
  text-align: center;
  font-family: 'Sawarabi Mincho', sans-serif;
  font-weight: 100;
  text-decoration: none;
  color: #565656;
  border: 3px solid;
  box-shadow: 5px 5px 8px #c0c1c1, -5px -5px 8px #ffffff;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.title h1{
  margin: 0;
  padding: 30px 55px 30px 55px;
  position: relative;
  display: inline-block;
  font-size: 40px;
  letter-spacing: 2px;
}
.title h1:before,.title h1:after{
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  border-top: solid 2px #565656;
  border-bottom: solid 2px #565656;
}
.title h1:before{
  left: 0;
}
.title h1:after{
  right:0;
}
.second-wrapper p{
  margin: 0;
  font-size:18px;
  padding: 0 40px 40px 40px;
  letter-spacing: 2px;
  line-height: 30px;
}
.match{
  font-size: 20px;
  color: #fff;
  padding: 15px;
  border-radius: 50px;
  background: linear-gradient(145deg, #1e39ff, #1930da);
}
.second-wrapper p:nth-child(4){
  font-size: 30px;
  color:#3991C8;
  border-bottom: solid;
  padding: 0;
  margin: 0 0 30px 40px;
  display: inline-block;
}

/* button */
.p-button {
  display: inline-block;
  width: 200px;
  height: 54px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
  position: relative;
  -webkit-perspective: 300px;
  perspective: 300px;
}
.p-button::before, .p-button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.p-button, .p-button::before, .p-button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.p-button span {
  display: block;
  position: absolute;
  width: 200px;
  height: 60px;
  border: 2px solid #333;
  text-align: center;
  line-height: 56px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
  pointer-events: none;
}
.p-button span:nth-child(1) {
  background-color: #333;
  color: #fff;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}
.p-button span:nth-child(2) {
  background-color: #fff;
  color: #333;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -30px;
  -moz-transform-origin: 50% 50% -30px;
  transform-origin: 50% 50% -30px;
}
.p-button:hover span:nth-child(1) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.p-button:hover span:nth-child(2) {
  background-color: #333;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}



















.a{
  height:500px;
  background-color: aqua;
}















